<p id="notice"><%= notice %></p>

<h1>Listing Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Тип страхования</th>
      <th>Страховщик</th>
      <th>Авто</th>
      <th>Дата начала страхования</th>
      <th>Дата окончания страхования</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.client.fio %></td>
        <td><%= contract.insurance_type.name %></td>
        <td><%= contract.insurer.fio %></td>
        <td><%= contract.auto.marka_model %></td>
        <td><%= contract.date_begin %></td>
        <td><%= contract.date_end %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
