<p id="notice"><%= notice %></p>

<p>
  <strong>Клиент:</strong>
  <%= @auto.client.fio %>
</p>

<p>
  <strong>Госномер:</strong>
  <%= @auto.gosnomer %>
</p>

<p>
  <strong>Техпаспорт:</strong>
  <%= @auto.tech_passport %>
</p>

<p>
  <strong>Марка и модель:</strong>
  <%= @auto.marka_model %>
</p>

<p>
  <strong>Дата выпуска:</strong>
  <%= @auto.date_release %>
</p>

<p>
  <strong>Цвет:</strong>
  <%= @auto.color %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
